/*
-----------------------------------------------
Blogger Template Style
Name:     565
Date:     28 Feb 2004
Updated by: Blogger Team
----------------------------------------------- */
/* Variable definitions
====================
<Variable name="mainBgColor" description="Main Background Color"
type="color" default="#ccddbb">
<Variable name="mainTextColor" description="Text Color"
type="color" default="#333333">
<Variable name="mainLinkColor" description="Link Color"
type="color" default="#338888">
<Variable name="mainVisitedLinkColor" description="Visited Link Color"
type="color" default="#777766">
<Variable name="dateHeaderColor" description="Date Header Color"
type="color" default="#ffffff">
<Variable name="postTitleColor" description="Post Title Color"
type="color" default="#333333">
<Variable name="sidebarBgColor" description="Sidebar Background Color"
type="color" default="#556655">
<Variable name="sidebarHeaderColor" description="Sidebar Title Color"
type="color" default="#889977">
<Variable name="sidebarTextColor" description="Sidebar Text Color"
type="color" default="#ccddbb">
<Variable name="sidebarLinkColor" description="Sidebar Link Color"
type="color" default="#ffffff">
<Variable name="sidebarVisitedLinkColor"
description="Sidebar Visited Link Color"
type="color" default="#aabb99">
<Variable name="descColor" description="Blog Description Color"
type="color" default="#ffffff">
<Variable name="bodyFont" description="Text Font"
type="font" default="normal normal 100% Verdana, Sans-serif">
<Variable name="titleFont" description="Blog Title Font"
type="font" default="normal bold 275% Helvetica, Arial, Verdana, Sans-serif">
<Variable name="sidebarHeaderFont" description="Sidebar Title Font"
type="font" default="normal bold 125% Helvetica, Arial, Verdana, Sans-serif">
<Variable name="dateHeaderFont" description="Date Header Font"
type="font" default="normal bold 112% Arial, Verdana, Sans-serif">
<Variable name="startSide" description="Start side in blog language"
type="automatic" default="left">
<Variable name="endSide" description="End side in blog language"
type="automatic" default="right">
*/
body {
background-color: #ccddbb;
margin:0;
font: x-small Verdana, Sans-serif;
text-align:center;
color:#333;
font-size/* */:/**/small;
font-size: /**/small;
}
/* Page Structure
----------------------------------------------- */
#outer-wrapper {
position:relative;
top:4px;
left:4px;
background: #889977;
width:744px;
margin:10px auto;
text-align:left;
font: normal normal 100% Verdana, Sans-serif;
}
#wrap2 {
position:relative;
top:-4px;
left:-4px;
background:#fff;
padding:10px;
border: 1px solid #fff;
}
#content-wrapper {
width:100%;
background-color: #fff;
}
#main-wrapper {
background: #ccddbb url("http://www.blogblog.com/no565/corner_main_left.gif") no-repeat right top;
width:460px;
color:#333333;
font-size: 85%;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
#main {
margin:0;
padding:15px 20px;
}
#sidebar-wrapper {
background:#556655 url("http://www2.blogblog.com/no565/corner_sidebar_left.gif") no-repeat left top;
width:254px;
float:right;
padding:0;
color: #ccddbb;
font-size: 83%;
word-wrap: break-word; /* fix for long text breaking sidebar float in IE */
overflow: hidden;     /* fix for long non-text content breaking IE sidebar float */
}
#sidebar {
margin:0;
padding:2px 20px 10px;
}
#footer {
display:none;
}
/* Links
----------------------------------------------- */
a:link {
color:#338888;
text-decoration:none;
}
a:visited {
color: #777766;
text-decoration:none;
}
a:hover {
color: #777766;
text-decoration:underline;
}
a img {
border-width:0;
}
#sidebar a {
color: #ffffff;
}
#sidebar a:visited {
color: #aabb99;
}
#sidebar a:hover {
color: #aabb99;
}
/* Header
----------------------------------------------- */
#header-wrapper {
background: #fff;
padding-bottom: 4px;
position: relative;
min-height: 190px;
_height: 0px;
}
#header .titlewrapper {
background:#be4 url("http://www.blogblog.com/no565/topleft_left.gif") no-repeat left bottom;
padding-top:0;
padding-right:0;
padding-bottom:0;
padding-left:160px;
margin:0px 0px 10px 0px;
color:#fff;
width:100%;
width/* */:/**/auto;
width:auto;
_height: 0px;
min-height: 100px;
}
#header h1 {
background:url("http://www1.blogblog.com/no565/bg_header.gif") no-repeat left top;
margin:0;
padding:70px 0 30px;
line-height: 97px;
font: normal bold 275% Helvetica, Arial, Verdana, Sans-serif;
text-transform:lowercase;
_height: 0px;
}
#header h1 a {
color:#fff;
text-decoration:none;
}
.postpage #header h1 {
padding-top:0;
background-position:0 -40px;
}
.clear { clear: both; }
/* Description
----------------------------------------------- */
#header .descriptionwrapper {
background: #ff9900 url("http://www2.blogblog.com/no565/bg_desc_top_left.gif") no-repeat left top;
margin:0 0 6px;
padding:12px 0 0;
color: #ffffff;
font-size: 75%;
border-bottom: 1px solid #ffffff;
width: 100%;
}
#header .description {
background:url("http://www.blogblog.com/no565/bg_desc_bot_left.gif") no-repeat left bottom;
margin:0;
padding:0 0 12px;
display:block;
line-height: 1.6em;
text-transform:uppercase;
letter-spacing:.1em;
min-height:12px;
border-bottom: 1px solid #ffffff;
}
#header .description span {
/* To remove the word next to the description, delete the following background property */
background:url("http://www2.blogblog.com/no565/temp_no.gif") no-repeat left center;
/* Keep everything below */
display:block;
padding-top:0;
padding-right:0;
padding-bottom:0;
padding-left:160px;
text-transform:uppercase;
letter-spacing:.1em;
min-height:12px;
}
.postpage #description em {
font-size:1px;
line-height:1px;
color:#ffffff;
visibility:hidden;
}
/* Posts
----------------------------------------------- */
h2.date-header {
margin:0 0 .5em;
line-height: 1.4em;
font: normal bold 112% Arial, Verdana, Sans-serif;
text-transform:lowercase;
color:#ffffff;
}
.post {
margin:0 0 2em;
}
.post h3 {
margin:0 0 .25em;
line-height: 1.4em;
font-weight: bold;
font-size: 150%;
color:#333333;
}
.post h3 a {
text-decoration:none;
color:#333333;
}
.post h3 a:link {
color: #333333;
}
.post h3 a:hover {
color: #777766;
}
.post-body {
margin:0 0 .75em;
line-height:1.6em;
}
.post-body blockquote {
line-height:1.3em;
}
.post-footer {
color:#333333;
text-transform:lowercase;
}
.post-footer .post-author,
.post-footer .post-timestamp {
font-style:normal;
}
.post blockquote {
margin:1em 20px;
padding:5px 0;
border:2px solid #dec;
border-width:2px 0;
}
.post blockquote p {
margin:.5em 0;
}
.post img {
border:5px solid #fff;
}
/* Comments
----------------------------------------------- */
#comments {
margin:2em 0 0;
border-top:2px solid #dec;
padding-top:1em;
}
#comments h4 {
margin:0 0 .25em;
font-weight: bold;
line-height: 1.4em;
font-size: 150%;
text-transform:lowercase;
color: #366;
}
#comments-block {
margin-top:0;
margin-right:0;
margin-bottom:1em;
margin-left:0;
line-height:1.6em;
}
.comment-author {
margin:0 0 .25em;
font-weight: bold;
line-height: 1.4em;
font-size: 112%;
text-transform:lowercase;
}
.comment-body, .comment-body p {
margin:0 0 .75em;
}
p.comment-footer {
margin:-.25em 0 2em;
}
.deleted-comment {
font-style:italic;
color:gray;
}
.feed-links {
clear: both;
line-height: 2.5em;
}
#blog-pager-newer-link {
float: left;
}
#blog-pager-older-link {
float: right;
}
#blog-pager {
text-align: center;
}
/* Sidebar
----------------------------------------------- */
.sidebar h2 {
margin:1em 0 .25em;
line-height: 1.4em;
font: normal bold 125% Helvetica, Arial, Verdana, Sans-serif;
color: #889977;
text-transform:lowercase;
}
.sidebar .widget {
margin:0 0 1.5em;
padding:0;
}
.sidebar ul {
list-style:none;
margin: 0;
padding: 0;
}
.sidebar li {
margin:0;
padding-top:0;
padding-right:0;
padding-bottom:.25em;
padding-left:20px;
text-indent:-20px;
line-height:1.4em;
}
/* Profile
----------------------------------------------- */
.profile-datablock, .profile-textblock {
margin:0 0 .75em;
line-height:1.4em;
}
.profile-img {
float: left;
margin-top: 0;
margin-right: 5px;
margin-bottom: 5px;
margin-left: 0;
border: 5px solid #889977;
}
.profile-data {
font-weight: bold;
}
/* Misc
----------------------------------------------- */
#footer-wrapper {
clear:both;
display:block;
height:1px;
margin:0;
padding:0;
font-size:1px;
line-height:1px;
}
/** Page structure tweaks for layout editor wireframe */
body#layout #outer-wrapper {
margin-top: 0;
}
body#layout #main,
body#layout #sidebar {
padding: 0;
}
body#layout #main-wrapper,
body#layout #sidebar-wrapper {
height: auto;
}